# Pastas de build e target
/target/
/build/
.gradle/
.settings/
.classpath
.project

# Pastas da IDE (Onde vive o seu problema)
.idea/
*.iml

# Pastas de banco de dados e logs
dados_banco/
*.log

# Pastas de sistema operacional
.DS_Store
Thumbs.db